<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <!--开启下换线装驼峰-->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <!--别名设置-->
  <!--<typeAliases>
    <package name="com.gaoh.mybatis.model" />
  </typeAliases>-->

  <!--类型处理-->
  <!--<typeHandlers>
    <package name=""/>
    <typeHandler handler="org.mybatis.example.ExampleTypeHandler"/>
    <typeHandler handler="" javaType=""/>
  </typeHandlers>-->

  <environments default="development">
    <environment id="development">
      <!--      使用了 JDBC 的提交和回滚(使用事务)   -->
      <!--<transactionManager type="JDBC">
        <property name="skipSetAutoCommitOnClose" value="true"/>
      </transactionManager>-->
      <!--  让容器来管理事务的整个生命周期    -->
      <transactionManager type="MANAGED">
        <property name="closeConnection" value="true"/>
      </transactionManager>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://127.0.0.1:3306/mybatis?serverTimezone=UTC&amp;characterEncoding=utf-8"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <!--  package  -->
    <package name="com.gaoh.mybatis.mapper"/>

    <!--  resource  -->
    <!--    <mapper resource="mybatis/BlogsMapper.xml"/>-->
    <!--    <mapper resource="mybatis/PaperMapper.xml"/>-->

    <!--  class  -->
    <!--    <mapper class="com.gaoh.mybatis.mapper.BlogsMapper"/>-->
    <!--    <mapper class="com.gaoh.mybatis.mapper.PaperMapper"/>-->

    <!--  url   -->
    <!--  mapper的绝对路径  -->
    <!--    <mapper url="file:///home/project/java/stu/mybatis-3/src/test/resources/com/gaoh/mybatis/mapper/BlogsMapper.xml"/>-->
    <!--    <mapper url="file:///home/project/java/stu/mybatis-3/src/test/resources/com/gaoh/mybatis/mapper/PaperMapper.xml"/>-->

  </mappers>
</configuration>
